:root {
    --drag-scalable-handle-size: 5px;
}

.tooltip-button {
    width: 50px;
    height: 50px;
}
.tooltip-modal {
    position: absolute;
    padding-top: 0px;

    color: #fff;
    flex-direction: column;

    user-select: none;
}

.tooltip-modal .drag-handle {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: var(--drag-scalable-handle-size);
    height: 20px;
    background-color: #444;

    color: #fff;
    cursor: move;
}

.tooltip-modal .drag-handle .close:after {
    content: "x";
    padding-right: 10px;
}

.tooltip-modal .content {
    flex: 1;
    overflow-y: auto;
    background-color: #333;

    scrollbar-width: 10px;
    scrollbar-color: #888 #444;

    padding: 20px 10px 20px 20px;
    box-sizing: border-box; /* calculate bounding box based on border and padding */
}

.tooltip-modal .title {
    font-weight: normal;
}

.tooltip-modal .content .back {
    display: flex;
    justify-content: row;
    gap: 10px;

    font-weight: bold;
}

.tooltip-modal .actions, .tooltip-modal .dialog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 10px;
}

.tooltip-modal .actions .action {
    padding: 0.5rem;
    padding-right: 1rem;
    background: #444;
    display: flex;
    justify-content: space-between;
    span {
        font-weight: bold;
    }
}

.tooltip-modal a {
    cursor: pointer;
}

.tooltip-modal .btn {
    padding: 0.5rem;
    background: #444;
    text-align: end;
}

.tooltip-modal div.input {
    display: flex;
    flex-direction: column;
}

.tooltip-modal div.input.ok {
    .validation {
        color: #0b0;
    }
}
.tooltip-modal div.input.error {
    .validation {
        color: #e00;
    }
}

/* Scalable drag */
.drag-scalable {
    width: 100%;
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.drag-scalable-horizontal {
    display: flex;
    width: 100%;
    flex-direction: row;
    max-height: 100%;
}

.drag-scalable-handle {
    display: flex;
    justify-content: end;
}

.drag-scalable-handle.bottom {
    width: 100%;
    height: var(--drag-scalable-handle-size);
    cursor: n-resize;
}

.drag-scalable-handle.left, .drag-scalable-handle.right {
    width: var(--drag-scalable-handle-size);
    height: auto;
    cursor: w-resize;
}

.drag-scalable-handle.diagonal {
    width: var(--drag-scalable-handle-size);
    height: var(--drag-scalable-handle-size);
    cursor: nw-resize;
}
.drag-scalable-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
